
body{
	width:100%;
	max-width: 1440px;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 100%;
	text-overflow: ellipsis;
}

input{
	position: relative;
	margin-left: 5%;
	margin-top: 30px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
	padding: 5px 20px;
}

#headbanner{
	position: relative;
	float: top;
	height: 70px;
	background: #222222;
	font-family: Futura;
	z-index: 60;
}

#logo{
	position: relative;
	float: left;
	width: 120px;
	padding-left: 30px;
	padding-top: 10px;
	cursor: pointer;
	color: black;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 27px;
	letter-spacing: 1px;
	z-index: 1;
}

ul.navigationbar {
    list-style-type: none;
    position: relative;
    float: right;
    margin-top: 10px;
    padding-right: 10px;
    width: 750px;
    height: 100%;
    overflow: hidden;
    background-color: white;
    font-family: RalewayMedium,Helvetica,sans-serif;
    font-weight: bold;
    cursor: pointer;
    z-index: 0;
}

ul.navigationbar li a {
    display: block;
    color: #444444;
    padding: 8px 16px;
    text-decoration: none;
    float: right;
}

ul.navigationbar li a:hover:not(.active) {
    color: #f39c12;
}

/*在屏幕宽度小于 900px 时导航栏为顶部水平导航栏；如果屏幕宽度小于 400px 会变为垂直导航栏。*/
@media screen and (max-width: 900px) {
    ul.navigationbar {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.navigationbar li a {
        float: left;
        padding: 15px;
    }
}

@media screen and (max-width: 400px) {
    ul.navigationbar li a {
        text-align: center;
        float: none;
    }
}

#favorites {   /*Search For Others'按钮*/
	color: #f39c12;
}

/*@keyframes example {
    from {background-color: red;}
    to {background-color: purple;}
}*/

.maincontent{
	position: relative;
	margin-left: 2%;
	width: 100%;
	border-top: #f39c12 dashed 3px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 800px; /*等到可以load学生名单再看要不要改*/
	z-index: 10;
	font-family: Georgia;
	background-color: ivory;
	text-align: baseline;
}

.maincontent li{
	list-style: none;
	padding: 10px 60px;
	max-width: 1000px;
	line-height: 20px;
	margin-left: 20px;
}

/*li:before{
	position: absolute;
	content: url(./if_document_text_103509.svg);
	padding: 15px 55px;
}*/

.FavoritesInfo{
	padding: 0px 0px;
	top: 0px;
	margin-left: 100px;
}


li h2{
	font-family: cambria;

}

li h3{
	font-family: cambria;
}

li h4{
	font-family: cambria;
}

.addon {
	position: relative;
	margin-top: 47%;
	margin-left: 93%;
	text-decoration: none;
	width: 30px;
	height: 30px;
	padding: 2px 15px;
}

.addon:hover{
	opacity: 0.75;
}

.titleText{
	position: fixed;
	font-size: 12px;
	width: 100px;
	display: none;
	text-align: center;
	right: 55px;
}

.addon:hover .titleText{
	display: block;
}

.footer{
	position: fixed;
	font-family: Futura;
	color: ivory;
	left:0;
	bottom: 0;
	z-index: 100;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:#222222;
}

::-webkit-scrollbar {
    display: none;
}

.show_project{
	margin: 15px 30px;
	border-bottom: yellow dashed;
	line-height: 30px;
	max-width: 1050px;
	z-index: 30;
	padding-left: 20px;
	text-overflow: ellipsis;
}

.title{
	max-width: 200px;
}

.edit{
	background-color: #f39c12;
    width: 240px;
    height: 25px;
    font-size: 15px;
    font-family: RalewayMedium,Helvetica,sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    border:none;
    border-radius: 14px;
    cursor: pointer;
}
