body {

	color: #444;

	font-family: Tahoma,Geneva,sans-serif;

	font-size: 13px;

	padding: 0px;

	margin: 0px;

}

h1{

	text-align: center;

}



.hl{

	color: red;

}

.top-line{

	margin-top:0px;

	color:black;

	border-color:black;

	border-bottom-width: 0px;

}

.container{

	margin-top: 30px;

}

.inner-wrap{

	width: 960px;

	margin-right: auto;

	margin-left: auto;

}



	.tabs ul{

		list-style: none;

		padding: 0;

		margin: 0;

	}



	.tabs li{

		float: left;

		border: 1px solid #bbb;

		border-bottom-width: 0;

		margin: 0;

	}



	.tabs li a{

		text-decoration: none;

		display: block;

		background: #eee;

		padding: 0.24em 1em;

		color: #00c;

		width: 8em;

		text-align: center;

	}



	.tabs .selected{

		border-color: black;

	}



	.tabs .selected a{

		position: relative;

		top: 1px;

		background: white;

		color: black;

		font-weight: bold;

	}





.header{

	text-align: center;

}

	.header h2{

		color : #aaa;

	}



	.demo{

		padding-bottom: 10px;

		padding-top: 34px;

		background-color: #f5f5f5;

		border-top: 1px solid #e3e3e3;

		border-bottom: 1px solid #e3e3e3;

		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

		box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

	}



.apiDocTable{

	width: 100%;

	border: 1px solid black;

	border-collapse: collapse;

}



.timeline-content{

	text-align: center;

}

.timeline-content h3{

	/*text-align: center;*/

}

.timeline-content img{

	height: 200px;

	margin-left: auto;

	margin-right: auto;

}



.clear:before,

.clear:after {

    content: " "; /* 1 */

    display: table; /* 2 */

}



.clear:after {

    clear: both;

}



.clear {

    *zoom: 1;

}





.button{

		background: url(../img/buttons.png) no-repeat 0 0;

		width: 255px;

		height: 42px;

		cursor: pointer;

		display: block;

}



.button-direct-download{

	background-position: 0px 0px;

}

.button-direct-download:hover{

	background-position: 0px -45px;

}

.button-github{

	background-position: 0px -90px;

}

.button-github:hover{

	background-position: 0px -135px;

}





.footer{

	background-color: #cccccc;

	min-height: 50px;

	margin-top: 20px;

	padding-top: 20px;

	border-top: 2px solid #999999;

}



/* Header styling */

.top-bar{

    background-color: #2C3435;

    height: 40px;

}

.top-bar a{

	text-decoration: none;

}

.top-bar a:hover{

    background-color: transparent;

}



.wrap {

    width: 960px;

    margin-left: auto;

    margin-right: auto;

}


a:link{
     text-decoration:none;
     }
     a:hover{
     text-decoration:underline;
		}

     }
  .hide{  display: none;  position: absolute;  top: 0%;  left: 0%;  width: 50%;  height: 50%;  background-color: black;  z-index:1001;  -moz-opacity: 0.8;  opacity:.80;  filter: alpha(opacity=80);  }  .Mon {  display: none;  position: absolute;  top: 300px;  left: 1120px;  width: 330px;  height: 250px;  padding: 16px;  border: 16px solid orange;  background-color: white;  z-index:1002;  overflow: auto;  }
  .save{
  	  position: absolute; left:250px;
  }
  .close{
  	position: absolute; left:300px;
  }
  #M181{
  	float:right;
  	display:none;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
    position:absolute;
    left:-10px;
  }
  #M182{
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display: none;
  	float:left;
  	position: absolute;
  	left:15px;
  }
  #M183{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none;
  	float:left;
  	position: absolute;
  	left:40px;
  }
   #M184{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:65px;
  }
   #M185{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:90px;
  }
   #M186{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none;
  	float:left;
  	position: absolute;
  	left:115px;
  }
   #M187{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none;
  	float:left;
  	position: absolute;
  	left:140px;
  }
   #M188{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none;
  	float:left;
  	position: absolute;
  	left:165px;
  }
   #M189{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none;
  	float:left;
  	position: absolute;
  	left:190px;
  }
   #M1810{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none;
  	float:left;
  	position: absolute;
  	left:215px;
  }
   #M1811{
  	clear:;
  	/* width:50px;
  	height:100px; */
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:240px;
  }
   #M1812{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none;
  	float:left;
  	position: absolute;
  	left:265px;
  }
   #M191{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:290px;
  }
   #M192{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:315px;
  }
   #M193{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:340px;
  }
   #M194{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:365px;
  }
   #M195{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:390px;
  }
   #M196{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:415px;
  }
   #M197{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:440px;
  }
   #M198{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:465px;
  }
   #M199{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:490px;
  }
   #M1910{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:515px;
  }
   #M1911{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:540px;
  }
   #M1912{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:565px;
  }
   #M201{
  	clear:;
  	/* width:50px;
  	height:100px;*/
  	background: :#CCC;
  	border:1px solid #333;
  	padding:10px;
  	/* text-align: center; */
  	display:none ;
  	float:left;
  	position: absolute;
  	left:590px;
  }
	.preview{
            overflow:hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
						max-width: 200px;
	}
