
body{
	width:100%;
	max-width: 1440px;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 100%;
	text-overflow: ellipsis;
}

#headbanner{ 
	position: relative;
	float: top;
	height: 70px;
	background: #222222;
	font-family: Futura;
	z-index: 60;
}

#logo{
	position: relative;
	float: left;
	width: 120px;
	padding-left: 30px;
	padding-top: 10px;
	cursor: pointer;
	color: black;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 27px;
	letter-spacing: 1px;
	z-index: 1;
}

ul.navigationbar {
    list-style-type: none;
    position: relative;
    float: right;
    margin-top: 10px;
    padding-right: 10px;
    width: 750px;
    height: 100%;
    overflow: hidden;
    background-color: white;
    font-family: RalewayMedium, Helvetica,sans-serif;
    font-weight: bold;
    cursor: pointer;
    z-index: 0;
}

ul.navigationbar li a {
    display: block;
    color: #444444;
    padding: 8px 16px;
    text-decoration: none;
    float: right;
}

ul.navigationbar li a:hover:not(.active) {
    color: #f39c12;
}

/*在屏幕宽度小于 900px 时导航栏为顶部水平导航栏；如果屏幕宽度小于 400px 会变为垂直导航栏。*/
@media screen and (max-width: 900px) {
    ul.navigationbar {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.navigationbar li a {
        float: left;
        padding: 15px;
    }
}

@media screen and (max-width: 400px) {
    ul.navigationbar li a {
        text-align: center;
        float: none;
    }
}

#userinfo {   /*Account Setting按钮*/
	color: #f39c12;
}

/*@keyframes example {
    from {background-color: red;}
    to {background-color: purple;}
}*/

.maincontent{
	position: relative;
	top: 2px;
	margin-left: 1%;
	width: 100%;
	height: 750px; /*等到可以load学生名单再看要不要改*/
	border-top: #f39c12 dashed 3px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 10;
	font-family: Georgia;
	background-color: ivory;
	text-align: baseline;
}

h1 {
	color: #f39c12;
	font-family: RalewayMedium, Helvetica,sans-serif;;
}

#virtualIdentity{
	position: relative;
	font-family: Futura;
	line-height: 25px;
	width: 600px;
	left: 300px;
	padding-bottom: 18px;
	padding-top: 20px;
	border-bottom: gray groove thin;
}

select {
	margin-left: 35px;
	height: 25px;
	font-size: large;
}

#realIdentity{
	position: relative;
	left: 300px;
	top: 0px;
	font-family: Futura;
	line-height: 25px;
	width: 600px;
	padding-bottom: 18px;
	padding-top: 20px;
	border-bottom: gray groove thin;
}

#relationship{
	position: relative;
	top: 0px;
	left: 300px;
	font-family: Futura;
	line-height: 25px;
	width: 600px;
	padding-bottom: 18px;
	padding-top: 20px;
	border-bottom: gray groove thin;
}

.forTeacher{
	padding-top: 15px;
}

.forStudent{
	padding-top: 15px;
}

.forTeacher button{
	position: relative;
	top: -25px;
	left: 120px;
	font-family: Futura;
	float:left;
	background-color: #222222;
	padding: 5px 8px 5px 8px;
	color: ivory;
}

.forTeacher li{
	position: relative;
	top: 8px;
	left: -80px;
}

.forStudent button{
	position: relative;
	top: -24px;
	left: 140px;
	font-family: Futura;
	float:left;
	background-color: #222222;
	padding: 5px 8px 5px 8px;
	color: ivory;
}

.forStudent li{
	position: relative;
	top: 8px;
	left: -95px;
}

#loadname{
	margin-top: 30px;
	font-size: 20px;
	color: black;
}

#loademail{
	margin-top: 30px;
	font-size: 20px;
	color: black;
}

#loadschool{
	margin-top: 30px;
	font-size: 20px;
	color: black;
}

#loadclass{
	margin-top: 30px;
	font-size: 20px;
	color: black;
}

.footer{
	position: fixed;
	font-family: Futura;
	color: ivory;
	left:0;
	bottom: 0;
	z-index: 100;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:#222222;
}

button{
	width: 100px;
    height: 25px;
    background-color: #f39c12;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Futura;
    font-size: 14px;
    border:none;
    border-radius: 12px;
    cursor: pointer;
}

#coverUp{   /*透明层*/
	z-index: 1004;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: white;
	opacity: 1;
}

#addPopUp{   /*框框 右半边*/
	position: relative;
	margin-top: 130px;
	margin-left:740px;
	width: 450px;
	height: 500px;
	border: #f39c12 solid 2px;
	border-top-right-radius:15px;
	border-bottom-right-radius: 15px;
	font-family: Futura;
	z-index: 2000;
	line-height: 10px;
}

#addPopUp .title{
	font-size:larger;
}

#addPopUp p{
	font-size: large;
	line-height: 10px;
	padding-bottom: 0px;
}

.background {    /*左半边*/
	position: fixed;
	top: 130px;
	left: 290px;
	width: 450px;
	height: 500px;
	border: #f39c12 solid 2px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	z-index: 2200;
	background-color: #f39c12;
}

.quote {   /*第一句话*/
	margin-top: 150px;
	margin-left: 40px;
	color: white;
	font-size: 30px;
	font-family: Century Gothic, Charcoal, sans-serif;
	font-weight: bold;
	line-height: 150%;
}

.guide {    /*第二句话*/
	margin-left: 40px;
	color: white;
	font-size: 20px;
	font-family: Century Gothic, Charcoal, sans-serif;
}

.setTerm {   /*右半边的元素*/
	margin-left: 35px;
	margin-top: 53px;
	font-size: 25px;
	color: #f39c12;
}

input{
	padding:0;
	margin-left: 35px;
	width: 350px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: #f39c12;
	font-size: large;
	opacity: 1;
}

.edit-operation{
	z-index: 2000;
	font-family: RalewayMedium,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.edit-submit{
	position: fixed;
	top: 700px;
	left: 550px;
	width: 100px;
	height: 30px;
	border: #f39c12 solid 2px;
	border-radius:10px;
	background-color: #f39c12;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.edit-cancel{
	position: fixed;
	top: 700px;
	left: 830px;
	width: 100px;
	height: 30px;
	border: #f39c12 solid 1.5px;
	border-radius:10px;
	color: #f39c12;
	text-align: center;
	padding-top: 5px;
}